* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #f5e2b8;
}

#menu-navegacao ul{
    text-align: center;
    
    list-style: none;
    border: 5px solid #5f545c;
    background-color: #5f545c;
}

#menu-navegacao li{
    display: inline-flex;
    padding: 20px 15px 20px 10px;
    max-width: 100vh;
}

#menu-navegacao a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
    color: white;
    text-decoration: none;
}

.caixa-de-informacao article {
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding-top: 20px;
}

.caixa-de-informacao article ul{
    list-style: none;
    text-align: center;
    display: inline-flex;
    border: 4px #eb7072 solid;
    border-radius: 10px;
    background-color: #eb7072;
    padding: 15px;
}

.lista-exercicios li a{
    max-width: 100vh;
    font-family: sans-serif;
    font-size: 110%;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px;

}

.lista-exercicios a {
    border: 5px black solid;
}

.lista-exercicios li a:hover {
    color: #eb7072;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}