* {
    padding: 0;
    margin: 0;
}

#menu-navegacao ul{
    text-align: center;
    
    list-style: none;
    border: 5px solid rgb(144, 160, 255);
    background-color: rgb(144, 160, 255);
}

#menu-navegacao li{
    display: inline-block;
    padding: 20px 15px 20px 10px;
    max-width: 100vh;
}

#menu-navegacao a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
    color: azure;
    text-decoration: none;
}

h1 {
    text-align: center;
    padding: 1rem;
    margin: 20px 20px 20px 25vh;
    max-width: 50%;

    border: 2px rgb(182, 162, 255) solid;
    border-radius: 20px;
    background-color: rgb(250, 252, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo-exercicio {
    text-align: left;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    margin: 10px;
}

.links-exercicios {
    margin-left: 10px;
}