* {
    padding: 0;
    margin: 0;
}

#menu-navegacao ul{
    padding: 15px;
    text-align: center;

    list-style: none;
    border: 5px solid rgb(144, 160, 255);
    background-color: rgb(144, 160, 255);
}

#menu-navegacao li{
    display: inline-flex;
    max-width: 100vh;
    padding: 0px 20px;
}

#menu-navegacao a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
    color: azure;
    text-decoration: none;
}