* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(223, 223, 223);
}

.caixa-de-texto {
    margin: 20px auto;
    width: 300px;
    max-height: 200px;
    overflow: auto;
    padding: 10px;

    border: 2px solid red;
    color: white;
    background-color: rgb(23, 21, 21);;
}

.caixa-de-texto-estatica {
    background-color: rgb(23, 21, 21);;
    color: white;
    
    border: 1px solid rgb(109, 109, 109);
    border-radius: 15px;
    
    width: 300px;
    margin: 20px auto;
    max-height: 200px;

    padding: 10px;
}