* {
    margin: auto;
    padding: 0;
}

.caixa-de-texto {
    width: 300px;
    max-height: 200px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.caixa-de-texto-estatica {
    width: 300px;
    max-height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
}

hr {
    padding: 10px;
    background-color: antiquewhite;
}